* { margin: 0; padding: 0; font-family: Raleway, sans-serif; overflow-x: hidden; color: #3C4C6D; box-sizing: border-box; }
body { position: relative; }

/* General styling */
a { text-decoration: none; overflow-y: hidden; }
#to-top { color: #3C4C6D; position: fixed; bottom: 10px; right: 10px; text-align: center; width: 40px; border: solid #3C4C6D 1px; border-radius: 3px; }
#to-top:hover { color: white; background-color: #3C4C6D; }
.scroll-link { z-index: 1000;}
.section { padding-left: 6px; padding-right: 6px; padding-bottom: 0;}
.icon { overflow-y: hidden; }
::selection { background: black; color: white; }

/* Styling for title area*/

canvas { background: #3C4C6D; z-index: -10; }
#poly { position: absolute; }
#cursor { animation-name: pulse; animation-duration: .5s; animation-iteration-count: infinite; }
#title-wrapper { color: white; height: 50%; margin-bottom: 6px;}
#title, #title-row { clear: both; text-align: center; }
#title-row { font-size: 500%; color: white; margin: 100px auto; }
.title { color: white; }
.subtitle { margin-bottom: 20px; font-size: 150%;}
@keyframes pulse { 0% {opacity: 1;} 30% {opacity: .2;} 100% {opacity: 1;} }

/* Styling for navigation */

#nav { margin-top: 20px; float: right; }
.nav-item { color: white; display: inline; margin-left: 20px; margin-right: 20px; }
.scroll-link { color: white; }

/* Styling for contact */

#contact { margin: 50px auto; text-align: center; border: solid 1px #3C4C6D; padding: 10px; width: 25%; }
.col-2 { display: inline-block; width: 20%; }
.col-8 { display: inline-block; width: 80%; }
.col { display: inline-block; width: 49%; }

/* Styling for projects */

.graphic { display: block; margin: auto; }
.gitlink { text-align: center; margin: 10px 0; text-decoration: underline;}
.connect { margin: 5px auto; transition: font-size .25s; }
.connect:hover { font-size: 200%; }

/* Styling for grid */

.grid-main { box-sizing: border-box; }
.grid-item { float: left; border: 4px solid black; margin-bottom: 6px; overflow: hidden; padding: 5px; }
.gutter { width: 6px; }
.divider { margin: 10px 23px; }
