* { margin: 0; padding: 0; font-family: Raleway, sans-serif; overflow-x: hidden; color: #CFD7C7; box-sizing: border-box; }
body { margin: 0; background-color: #fcf9e5; }
a {text-decoration: none;}
.subtitle_item { margin-right: 30px; margin-left: 30px; font-size: 200%}
.subtitle_item:hover { color: #ffffff}
.subtitle_item:hover { color: #FFFFFF }
.horizontal {float: left; width: 40%; margin: 10px}
.about { background-color: white; color: #000; border-radius: 10px;}
#canvas { position: absolute; }
#title { font-weight: bold; font-size: 600%; position: absolute; width: 100%; text-align: center; color: #CFD7C7}
#title_wrapper {width: 100%; height: 100%;}
#subtitle { position: absolute; width: 100%; text-align: center; color: #CFD7C7 }
#cursor { animation-name: pulse; animation-duration: .75s; animation-iteration-count: infinite; color: #CFD7C7}
@keyframes pulse { 0% {opacity: 1;} 30% {opacity: .2;} 100% {opacity: 1;} }
::selection { background: #ffb7b7; }
::-moz-selection { background: #ffb7b7; }

.project-title { text-align: center; margin-top: 5px; margin-bottom: 5px;}
.project-description { padding: 5px; }
.grpahic {  }

.grid-sizer { width: 30%; }

.grid-item {
  margin-bottom: 10px;
  width: 30%;
  float: left;
  background: #D26;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
}
